﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>User Page: <a asp-controller="User" asp-action="SendUserQueue">Send User Message to the Console App</a>.</p>
    </div>
