﻿@model User

@{
    ViewData["Title"] = "Send User Queue";
}

<div class="container">
    <div class="user-form">
        <form asp-controller="User" asp-action="SendUserQueue" method="post">
            @Html.ValidationSummary(true)
            <h4>Send User</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName):
                @Html.TextBoxFor(m => m.FirstName, null, new { @class = "form-control input-lg", placeholder = "First Name" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName):
                @Html.TextBoxFor(m => m.LastName, null, new { @class = "form-control input-lg", placeholder = "Last Name" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress):
                @Html.TextBoxFor(m => m.EmailAddress, null, new { @class = "form-control input-lg", placeholder = "Email Address" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" name="button" value="login">Send</button>
            </div>
        </form>
        <a asp-controller="Home" asp-action="Index">Return to Homepage</a>
    </div>
</div>

<style>
    .field-validation-error {
        color: #dc3545!important;
    }
</style>