﻿@model IList<User>

@{
    Layout = null;
    var counter = 1;
}

<!DOCTYPE html>
<html lang="en" style="height:100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download PDF</title>
</head>
<body>
    <div class="table-wrapper">
        <h2>User List</h2>
        <table class="table table-primary">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(counter)</td>
                            <td>@(item.FirstName)</td>
                            <td>@(item.LastName)</td>
                            <td>@(item.EmailAddress)</td>
                        </tr>

                        counter++;
                    }
                </tbody>
            }
            else { 
                <tfoot>
                    <tr>
                        <td colspan="4">
                            No Records found
                        </td>
                    </tr>
                </tfoot>
            }
        </table>
    </div>

    <style type="text/css">
        * {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h2 {
            margin-bottom: 10px;
            color: #585050;
        }

        .table-wrapper {
            width: 100%;
        }

        table {
            display: inline-table;
            border-collapse: collapse;
            width: 100%;
        }

        table tr {
            width: 100%;
        }

        table tr th {
            font-weight: bold;
            color: #FFFFFF;
            font-size: 18px;
            background-color: #2980ba;
        }

        table tr td {
            font-size: 16px;
            color: #585050;
            font-weight: 400;
            background-color: #f5f5f5;
        }

        table tr th, table tr td {
            padding: 5px 8px;
            text-align: left;
        }
    </style>
</body>
</html>
