﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="grid">
        <div class="row">
            <div class="col col-lg-3">
                <div class="form-group">
                    <button class="btn btn-primary" onclick="exportPdf()">Export as PDF using jsPDF</button>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="form-group">
                    @using (Html.BeginForm("DemoViewAsPDF", "Home", FormMethod.Post, new { id = "exportPdfForm" }))
                    {
                        <button class="btn btn-success" type="submit">Export as Pdf using Rotativa</button>
                    }
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="form-group">
                    @using (Html.BeginForm("DinkToPdf", "Home", FormMethod.Post, new { id = "dinkToPdfForm" }))
                    {
                        <button class="btn btn-success" type="submit">Export as PDF using DinkToPdf</button>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12">
                <h2>User List</h2>
                <table id="tbl" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Address</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">No Records found</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jspdf/dist/jspdf.min.js"></script>
<script src="~/lib/jspdf-autotable/dist/jspdf.plugin.autotable.min.js"></script>
<script src="~/lib/html2canvas/dist/html2canvas.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/signalr/hubs"></script>

<script type="text/javascript">
    function exportPdf() {
        var doc = new jsPDF();
        doc.autoTable({ html: '#tbl' });
        doc.save('table.pdf');
    }

    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };
    $(document).ready(function () {
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/hub").build();
        var index = 1;

        connection.on("PushEntry", function (user) {
            var tr = $('<tr>');
            $(tr).append($('<td>', {}));

            $('#tbl').find('tbody')
                .append($('<tr>')
                    .append($(`<td>${index}</td>`))
                    .append($('<td>', { text: user.firstName }))
                    .append($('<td>', { text: user.lastName }))
                    .append($('<td>', { text: user.emailAddress }))
                );

            $('#tbl').find('tfoot').remove();

            $('#exportPdfForm')
                .append($('<input>', { type: "hidden", value: user.firstName, name: `users[${index - 1}].FirstName` }))
                .append($('<input>', { type: "hidden", value: user.lastName, name: `users[${index - 1}].LastName` }))
                .append($('<input>', { type: "hidden", value: user.emailAddress, name: `users[${index - 1}].EmailAddress` }));

            $('#dinkToPdfForm')
                .append($('<input>', { type: "hidden", value: user.firstName, name: `users[${index - 1}].FirstName` }))
                .append($('<input>', { type: "hidden", value: user.lastName, name: `users[${index - 1}].LastName` }))
                .append($('<input>', { type: "hidden", value: user.emailAddress, name: `users[${index - 1}].EmailAddress` }));

            index++;
        });

        connection.start()
            .then(function () { })
            .catch(function (err) { return console.error(err.toString()); });
    });
</script>

<style>
    #tbl tbody tr {
        background-color: #f1f1f1;
    }
</style>


